
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="container">

          <div class="inner cover">
            <h1 class="cover-heading">BURGERS</h1>
            <p class="lead">CREATE</p>
            <form class="create-form" action="/api/burgers" method="POST">
              <div class="form-group">
                <input type="text" class="form-control" id="burger" name="burger_name" placeholder="Enter Burger Name">
              </div>
              <button class="btn btn-lg btn-outline-light" type="submit">Create Burger</button>
            </form>


            <div class="card-deck">
              {{#each burgers}}
                {{#unless devoured}}
                  {{> burgers/burger-block devoured=true}}
                {{/unless}}
              {{/each}}
            </div>

            <h2>BURGERS that are sleepy!</h2>

            <ul>
              {{#each burgers}}
                {{#if devoured}}
                  {{> burgers/burger-block devoured=false}}
                {{/if}}
              {{/each}}
            </ul>

            <h2>Add a Burger</h2>
          </div>

        </div>

      </div>



    </div>



