<li>
	{{burger_name}}

	<button class="eat" data-id="{{id}}" data-eating="{{devoured}}">
		{{#if devoured}}Eat Burger!{{/if}}
	</button>

	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</li>
